<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>CryptoWorld | Creator</title>
    
    <style>
        .dark-wallpaper{
        height: 100%;
        background-image: url("/static/images/dark_wallpaper.jpg");
        }
    
    </style>
</head>
<body>


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-2">
    <a class="navbar-brand" href="/">CryptoWorld</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <div class="form-inline mt-2 mt-md-0">
            <a href="/user/login">
                <button class="btn btn-light mr-sm-2">Log In</button>
            </a>
            <a href="/user/signup">
                <button type="button" class="btn btn-outline-light my-2 my-sm-2">Sign Up</button>
            </a>
        </div>
    </div>
</nav>

<div class="dark-wallpaper">
    <div class="text-white bg-dark mx-auto px-3 mt-5 pt-4 pb-5" style="max-width: 35rem;">
        <img
                src='{% static "images/rhitwiksaha.jpg" %}'
                alt="Creator Image" width="150" height="150" class="rounded-circle mx-auto d-block mt-5">
        <h5 class="text-center mt-2">Rhitwik Saha</h5>
        <h4 class="blockquote-footer mb-2 text-muted text-center"><em>Computer Science and Engineering, IIT (BHU)
            Varanasi</em></h4>
        <hr color="gray" class="mb-3 mx-5">
        <p class="text-justify mx-4" style="font-family: 'Sans-serif'; font-style: italic;">Rhitwik is currently
            pursuing Bachelor of Technology in Computer Science and Engineering from Indian Institute of
            Technology (BHU), Varanasi. In the Summer of 2021, he worked as a Research & Development Intern at Ansys
            Software Pvt Ltd, Noida and
            received a full time offer to work as a Research & Development Engineer. Rhitwik currently lives in Mumbai,
            India
            with his parents.</p>
        <div class="mt-2">
            <div class="row align-items-center">
                <div class="col d-flex justify-content-center border-right">
                    <a href="https://www.facebook.com/anonymous.rs6/"><img src='{% static "images/fb.png" %}' width="30"
                                                                           height="30"></a>
                </div>
                <div class="col d-flex justify-content-center border-right">
                    <a href="https://www.instagram.com/rhitwik.saha/"><img src='{% static "images/ig.png" %}' width="30"
                                                                           height="30"></a>
                </div>
                <div class="col d-flex justify-content-center border-right">
                    <a href="https://github.com/rhitwiksaha"><img src='{% static "images/gh.png" %}' width="30"
                                                                  height="30"></a>
                </div>
                <div class="col d-flex justify-content-center">
                    <a href="https://www.linkedin.com/in/rhitwik-saha/"><img src='{% static "images/li.png" %}'
                                                                             width="30" height="30"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="px-5 py-5 bg-dark text-white">
    <div class="row">
        <div class="col-12 col-md">
<!--            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"-->
<!--                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"-->
<!--                 class="d-block mb-2">-->
<!--                <circle cx="12" cy="12" r="10"></circle>-->
<!--                <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>-->
<!--                <line x1="9.69" y1="8" x2="21.17" y2="8"></line>-->
<!--                <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>-->
<!--                <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>-->
<!--                <line x1="14.31" y1="16" x2="2.83" y2="16"></line>-->
<!--                <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>-->
<!--            </svg>-->
            <img src='{% static "images/logo.png" %}' height="50" width="50" class="rounded mb-1">
            <small class="d-block mb-3 text-muted">&copy; 2021, Crypto World Inc.</small>
        </div>
        <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Crypto Market</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Resource</a></li>
                <li><a class="text-muted" href="#">Resource name</a></li>
                <li><a class="text-muted" href="#">Another resource</a></li>
                <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Business</a></li>
                <li><a class="text-muted" href="#">Education</a></li>
                <li><a class="text-muted" href="#">Government</a></li>
                <li><a class="text-muted" href="#">Gaming</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/creator">Creator</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>