<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>CryptoWorld | Register</title>
    
    <style>
        .dark-wallpaper{
        height: 100%;
        background-image: url("/static/images/dark_wallpaper.jpg");
        }
    
    
    
    </style>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-2">
    <a class="navbar-brand" href="/">CryptoWorld</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
</nav>

<div class="dark-wallpaper">
    <div class="text-light bg-dark mx-auto px-3 mt-5 pt-4 pb-5" style="max-width: 25rem;">
        <form action="/user/login/" method="post">
        {% csrf_token %}
            <img src='{% static "images/logo.png" %}' height="50" width="50" class="rounded mb-1">
            <h3 class="h3 mb-3 fw-normal text-center">Register</h3>
            
            <div class="form-floating">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" id="firstname" placeholder="First Name" Required>
            </div>
            
            <div class="form-floating">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" id="lastname" placeholder="Last Name" Required>
            </div>
            
            <div class="form-floating">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" Required>
            </div>
            
            <div class="form-floating">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="name@domain.com" Required>
            </div>
            
            <div class="form-floating">
                <label for="pass1">Password</label>
                <input type="password" class="form-control" id="pass1" placeholder="Password" Required>
            </div>
            <div class="form-floating">
                <label for="pass2">Confirm Password</label>
                <input type="password" class="form-control" id="pass2" placeholder="Re-Enter Password" Required>
            </div>
            
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-light my-2 my-sm-2">Sign Up</button>
                <button type="button" class="btn btn-light mr-sm-2"><a href="/user/login">Account Exists?</a></button>
            </div>
        </form>
    </div>
</div>

<footer class="px-5 py-5 bg-dark text-white">
    <div class="row">
        <div class="col-12 col-md">
            <img src='{% static "images/logo.png" %}' height="30" width="30" class="rounded mb-1">
            <small class="d-block mb-3 text-muted">&copy; 2021, Crypto World Inc.</small>
        </div>
        <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Crypto Market</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Resource</a></li>
                <li><a class="text-muted" href="#">Resource name</a></li>
                <li><a class="text-muted" href="#">Another resource</a></li>
                <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Business</a></li>
                <li><a class="text-muted" href="#">Education</a></li>
                <li><a class="text-muted" href="#">Government</a></li>
                <li><a class="text-muted" href="#">Gaming</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/creator">Creator</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>


</html>